<%= content_tag_for :li, item, class: 'trashed-item', item_id: item.id do %>
	<%= link_to content_tag(:i, '', class: 'icon-cw'), '#', class: 'restoreLnk' %>
	<%= link_to content_tag(:i, '', class: 'icon-trash'), '#', class: 'deleteLnk btn-danger', confirm: 'Sure?'%>
	<div class="trashed-item-header">
    	<i class="icon-down-open"></i>
    	<%= item.title %>
    </div>
<% end %>