<%= content_tag_for :li, item, class: 'trashed-item' do %>
	<%= link_to content_tag(:i, '', class: 'icon-cw'), '#', class: 'restoreLnk' %>
		<%= link_to content_tag(:i, '', class: 'icon-trash'), survey_item_path(@survey, item), 
		method: :delete, class: 'deleteLnk btn-danger', confirm: 'Sure?', remote: true, format: :js %>
	<div class="trashed-item-header">
    	<i class="icon-list-bullet"></i>
    	<%= item.title %>
    </div>
<% end %>