<div class="padded">
	<h1>Ответ отправлен.</h1>
	<h2>Ваше мнение ценно для нас.</h2>

	<footer>
	  <p>Создать свой опрос при помощи <a href="http://SurveysKitchen.com">SurveysKitchen</a> бесплатно.</p>
	</footer>
</div>
