<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New Exception got on <%= @ex.created_at %></h1>
    <h3>Class</h3>
    <p> <%= @ex.e_class %> </p>

    <h3>Message</h3>
    <p> <%= @ex.message %> </p>

    <h3>Trace</h3>
    <p> <%= @ex.trace %> </p>

  </body>
</html>