<%= div_for item, class: "insertable sortable_item", item_id: item.id do -%>

    <div class="row">
      <div class="span4 page_border"></div>
      <div class="span2 page_break_texting">
        <h5>Page break</h5>
      </div>
      <div class="span4 page_border"></div>
  	</div>


<%- end -%>