<%= div_for item, class: "insertable sortable_item question-item", item_id: item.id do -%>

  <div class="well well-small">
    <strong><%= item.title %></strong>
    <div class="clear"></div>

    <% item.scale_size.times do |v| %>
      <label class="radio inline">
        <input type="radio" name="scale"/><%= v+1 %>
      </label>
    <% end %>
    
  </div>
<%- end -%>
