<%= div_for item, class: "insertable sortable_item question-item", item_id: item.id do -%>
  	<div class="well well-small">
  		<strong><%= item.title%></strong>
    	<ul class="unstyled">
	    	<% for var in item.variants_array %>
		    	<li>
			      	<label class="radio">
						<input type="radio" name="r_btn" value="<%= var %>" /><%= var %>
					</label>
				</li>
		    <% end %>
		</ul>
		<%- if item.include_txt_field -%>
	      <input type="text" />
	    <%- end -%>
  	</div>

<% end %>
