.hint
	Вставьте в текст поста
	= "<!-- split_content -->"
	чтобы разделить его на две части, 
	первая из которых будет показана на странице списка постов

= semantic_form_for @post, html:{class: 'form'} do |f|
	=f.inputs class: 'fields' do
		.form-group
			=f.input :title, input_html: {class: "form-control"}
		.form-group
			=f.input :content, input_html: {class: "form-control", id: "rich-text-area"}
		.form-group
			=f.input :meta_keywords, input_html: {class: "form-control", rows: 3}
		.form-group
			=f.input :meta_description, input_html: {class: "form-control", rows: 3}
	=f.submit 'Сохранить'


= content_for :js do
	=javascript_include_tag "/javascripts/ckeditor/ckeditor.js"
	:javascript
		CKEDITOR.replace("rich-text-area",{ 
			language: 'ru',
			toolbar: [
				{ name: 'clipboard', groups: [ 'clipboard', 'undo' ], items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
				{ name: 'insert', items: [ 'Image', 'Table', 'HorizontalRule', 'SpecialChar' ] },
				{ name: 'styles', items: [ 'Styles', 'Format' ] },
				{ name: 'others', items: [ '-' ] },
				{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Strike' ] },
				{ name: 'tools', items: [ 'Maximize' ] },
				{ name: 'links', items: [ 'Link', 'Unlink'] },
				{ name: 'document', groups: [ 'mode', 'document', 'doctools' ], items: [ 'Source' ] },
				{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote' ] }
			]})