<%= content_for :description, "Блог - последние новости про SurveysKitchen, технологии онлайн опросов, Rails и многое другое" %>
<%= content_for :keywords, "блог, surveyskitchen, опросы, новости, последние события, онлайн опросы, блог про опросы" %>

<div class="container-marketing">
	<div class="marketing-section">
		<%= render @posts %>
	</div>

	<%= paginate(@posts) %>
</div>

