<div class="marketing-section">
	<div class="a-post">
		<h1><%= @post.title %></h1>
		<div class="divider"></div>
		<div class="post-content"><%== @post.content.gsub('&lt;!-- split_content --&gt;', '') %></div>
	</div>

</div>