	<div class="marketing-section">
		<h3>10 different survey item types for everyone's needs:</h3>
		<div class="row info-block">
			<div class="column half-width">
				<h4>Rich text fragment </h4> 
				Rich text fragment is used to place some descriptive text on your survey. 
				It has very common to usual word processor features like creating paragraphs, blocquotes, 
				making text bold or italic, inserting images and many more.
			</div>
			<div class="column half-width">
				<h4>Drop down item</h4>
				blah-blah...
			</div>
		</div>
		<div class="row info-block">
			<div class="column half-width">
				<h4>Multiple select item</h4>
				blah-blah...
			</div>
			<div class="column half-width">
				<h4>Scale item</h4>
				blah-blah...
			</div>
		</div>
		<div class="row info-block">
			<div class="column half-width">
				<h4>Single select item</h4>
				Classic surveying component. It presents a list of items from which you may choose only one.
			</div>
			<div class="column half-width">
				<h4>Text field item</h4>
				Text field is used to gather some user input. It may also be called "open type question". 
				For short inputs you may choose text field and if you're expecting some extended response then your choose is textarea.
			</div>
		</div>
		<div class="row info-block">
			<div class="column half-width">
				<h4>Video item</h4>
				With help of video item you can easily embed any video from YouTube or Vimeo. 
				Just put the link of the clip into textbox, choose desired frame size and you're all done. 
			</div>
			<div class="column half-width">
				<h4>Single select grid</h4>
				blah-blah...
			</div>
		</div>
		<div class="row info-block">
			<div class="column half-width">
				<h4>Date/Time item</h4>
				blah-blah...
			</div>
			<div class="column half-width">
				<h4>Page break item</h4>
				Page break splits survey into pages from the place it was inserted. It is just the same survey item and
				can be moved/copied as well.
			</div>
		</div>

	</div>