//MAIN NAVIGATION MENU:
#navbar{
	/*-webkit-box-shadow: 0 2px 10px #242424;
	-moz-box-shadow: 0 2px 10px #242424;
	box-shadow: 0 2px 10px #242424;*/
	position: relative;
	height: 90px;
	min-width: 920px;
	margin-bottom: 15px;
	//background: #5c6063;
	background: #D65000;
	padding-right: 20px;
	padding-left: 20px;
	/*background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.3)));
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
	background-image: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
	background-image: linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4d000000',GradientType=0 );
	*/
	.content{
		position: relative;
		height: 56px;
	}
	#main-nav{
		margin-top: 40px;
		height: 50px;
		margin-right: 30px;
		li{
			float: left;
			&.active{
				background-color: #fff;
				border-top-right-radius: 10px;
				border-top-left-radius: 10px;
				a{ color: #D65000; }
			}
			a{margin-top: 9px;
				text-decoration: none;
				color: #fff;
				height: 50px;
				display: block;
				padding: 8px;
				font-weight: 700;
			}
		}
	}
	.simple-nav{
		height: 90px;
		li{ 
			line-height: 90px;
			display: inline-block;
			&.divider{
				width: 1px;
				height: 13px;
				border-right: 1px solid #fff;
				vertical-align: middle;
			}
			a{
				text-decoration: none;
				font: 11px/41px Arial, sans-serif;
				color: #fff;
				text-transform: uppercase;
				//text-shadow: 0px 1px rgba(0, 0, 0, 0.5);
				&:hover:not(.signup-btn){ text-decoration: underline; }
				&.signup-btn{
					background-color: rgb(92, 92, 92); border-color: rgb(153, 153, 153);
					&:hover{border-color: #ccc;}
				}
			}
		}
	}
}