/* http://meyerweb.com/eric/tools/css/reset/ 

 *= require fontello/main

*/

* {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

.content{
	max-width: 1200px;
	min-width: 800px;
	margin: 0 auto;
	position: relative;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 1024px) {
	.app-body *{ 
		text-shadow: none !important;
 		box-shadow: none !important;
		-webkit-box-shadow: none !important;
		-webkit-linear-gradient: none !important;
		linear-gradient: none !important;
	}
	
}

body{ 
	//background: url(/images/bg-image.png);
	padding: 0;
	margin: 0;
	//height: 100%;
	font-family: sans-serif;//proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
	//width: 100%;
	font-size: 14px;
	position: relative;
	min-width: 920px;
}
*::selection{
	background: #a8d1ff;
}

#home-link{
	display: inline-block;
	//width: 172px;
	margin: 0 auto;
	position: absolute;
	left: 20px;
	top: 30px;
	font-family: 'Special Elite', cursive;
	color: #FFE;
	font-size: 30px;
	text-decoration: none;
}

.left{ float: left; }
.left-text{ text-align: left !important; }
.right{ float: right; }
.center-content{ text-align: center; }
.spacer{ margin-bottom: 15px; }

//SIMPLE COLUMN SYSTEM
.row:before, .row:after {
	content: " ";
	display: table;
}
.padded{padding: 5px;}
.row{ display: inline-block;width: 100%; position: relative; }
.column{ float: left; }
.column.one-third{ width: 33.333333%; }
.column.two-third{ width: 66.666666%; }
.column.half-width{
	display: inline-block;
	width: 50%;
	position: relative;
	float: left;
	padding: 5px;
}

.margin-top{ margin-top: 15px; }
.padding-left{ padding-left: 25px; }

@mixin vertical_gradient($from, $to){
	background: -moz-linear-gradient(top, $to, $from);
	background: linear-gradient($from, $to);
	background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background: gradient(linear, left top, left bottom, from($from), to($to));
}

.btn{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #0f0f0f;
	padding: 6px;
	text-decoration: none;
	background-color: #f2f2f2;

	&:not(.simple){ 
		@include vertical_gradient(#f2f2f2, #c5c5c5 ); 
		&:active:not(:disabled){ 
			@include vertical_gradient(#c5c5c5, #f2f2f2);
		}
	}
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #A5A5A5;
	display: inline-block;
	&:hover:not(:disabled){ border: 1px solid #4B4B4B; }
	
	&.small{ padding: 3px; font-size: 11px; }
	&.success{ 
		background-color: #51a351;
		color: #fff;
		border-color: #399735;
		@include vertical_gradient(#62c462, #51a351);
		&:active:not(:disabled){
			@include vertical_gradient(#51a351, #62c462);
		}
	}
	&:disabled{
		opacity: 0.5;
  		filter: alpha(opacity = 50);
	}
}

a:visited:not(.btn){ color: rgb(45, 137, 150); }
a{ color: rgb(45, 137, 150); }

form .field_with_errors{
	display: inline;
	input, textarea, select{ border: 1px solid #FF8E8E !important; }
}


h3{
	small{ 
		min-width: 210px;
		display: inline-block;
		font-size: 16px;
	}
}
h1{ font-size: 2.15em;}
h2{ font-size: 1.9em;}
h3{ font-size: 1.5em; margin-bottom: 15px;}
h4{ font-size: 1.15em;}
h5{ font-size: 0.9em;}

