<%= content_tag_for :li, item, class: "result-item", item_id: item.id do -%>
  <div class="well well-small">
    <strong><%= item.title %></strong> <br />

	<ul class="unstyled">
		<% item.variants_array.each_with_index do |variant, i| %>
	    	<li>
	    		<input type="checkbox" disabled="disabled" <%= 'checked="1"' if result.keys.collect(&:to_i).include?(i) %> ></input>
	    		<%= variant %>
	    	</li>
    	<% end %>
	</ul>
  </div>
<%- end -%>
