<td class="reponse-item-title">
  <%= "#{counter}. #{item.title}" %>
</td>
<td class="reponse-content">
  <div class="signature-pad" data-signature="<%= result['signature_data'] %>"></div>
  <img src="data:<%= result['signature_data'] %>">
</td>