<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @user.full_name %>, добро пожаловать в SurveysKitchen.com.</h1>
    <p>
      Теперь в Ваших руках великолепный инструмент и надежная команда, которая сделает все, 
      чтобы ваши опросы выглядели великолепно, работали стабильно, принося Вам неоходимые сведения.
    </p>
    <p>
      Я ценю Ваше время, но буду очень рад, если Вы найдете минутку и оставите свой отзыв или идею 
      на <a href="https://surveyskitchen.uservoice.com">форуме SurveysKitchen</a>. Спасибо! <br>
      Павел Сероус, <a href="mailto:ceo@surveyskitchen.com">ceo@surveyskitchen.com</a> 
    </p>
    <p>
      Спасибо, что присоединились к нам, удачного дня!<br>
      С уважением, команда <a href="http://www.surveyskitchen.com">SurveysKitchen</a>
    </p>
  </body>
</html>