<p>
  <img src="<%= image_path("sk-logo-50.png") %>">
</p>
<p style="font-size: 16px; font-weight: bold;"><%= @user.full_name %>, добро пожаловать в SurveysKitchen.com</p>
<p style="font-size: 14px">
  Теперь в Ваших руках великолепный инструмент и надежная команда, которая сделает все, 
  чтобы ваши опросы хорошо выглядели, стабильно работали, принося Вам неоходимые сведения.
</p>
<p style="font-size: 14px">
  Я ценю Ваше время, но буду очень рад, если Вы найдете минутку и оставите свой отзыв или идею 
  на <a href="https://surveyskitchen.uservoice.com">форуме SurveysKitchen</a>. Спасибо! <br>
  Павел Сероус, <a href="mailto:ceo@surveyskitchen.com">ceo@surveyskitchen.com</a> 
</p>
<p style="font-size: 14px">
  Спасибо, что присоединились к нам, удачного дня!<br>
  С уважением, команда <a href="http://www.surveyskitchen.com">SurveysKitchen</a>
</p>

<hr>
<div style="font-size: 12px">
  © SurveysKitchen.com
  <ul style="list-style: none; padding: 0; margin: 0 0 0 10px; display: inline;">
    <li style="display: inline-block;"><a href="http://surveyskitchen.com/blog">Блог</a></li>
    <li style="display: inline-block;"><a href="http://surveyskitchen.com/ru/features">Возможности</a></li>
    <li style="display: inline-block;"><a href="http://surveyskitchen.com/ru/about">О нас</a></li>
  </ul>
</div>