.icon-browser{
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	&.chrome{ background-image: url(/images/responses/chrome.png) }
	&.safari{ background-image: url(/images/responses/safari.png) }
	&.firefox{ background-image: url(/images/responses/firefox.png) }
	&.opera{ background-image: url(/images/responses/opera.png) }
	&.ie{ background-image: url(/images/responses/ie.png) }
}

#responses-list{
	.response{
		padding: 7px;
		position: relative;
		margin-bottom: 2px;

		&:nth-child(odd) { background-color: #E9E9E9 }
		&:nth-child(even) { background-color: #F3F3F3 }

		> *{margin-left: 15px;}
		
		.flag{ vertical-align: middle }

		.response-date{
			font-size: 13px;
			color: #632828;
			width: 183px;
			display: inline-block;
		}

		.delete-link{
			position: absolute;
			top: 5px;
			right: 5px;
			color: #979797;
			font-size: 16px;
			&:hover{ color: red; }
		}
	}
}