.icon-browser{
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	&.chrome{ background-image: url(/images/responses/chrome.png) }
	&.safari{ background-image: url(/images/responses/safari.png) }
	&.firefox{ background-image: url(/images/responses/firefox.png) }
	&.opera{ background-image: url(/images/responses/opera.png) }
	&.ie{ background-image: url(/images/responses/ie.png) }
}

#responses-list{
	.response{
		padding: 7px;
		position: relative;
		margin-bottom: 2px;

		&:nth-child(odd) { background-color: #E9E9E9 }
		&:nth-child(even) { background-color: #F3F3F3 }

		//> *{margin-left: 15px;}
		> span:not(.response-date){ margin-right: 10px; }
		.flag{ vertical-align: middle }

		.response-date{
			font-size: 13px;
			color: #632828;
			width: 183px;
			display: inline-block;
		}

		.delete-link{
			position: absolute;
			top: 5px;
			right: 5px;
			color: #979797;
			font-size: 16px;
			&:hover{ color: red; }
		}
	}
}

#map{
	height: 350px;
	border: 1px solid #a62500;
}

//JVECTOR PLUGIN STYLES:
.jvectormap-label {
    position: absolute;
    display: none;
    border: solid 1px #CDCDCD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #292929;
    color: white;
    font-family: sans-serif, Verdana;
    font-size: smaller;
    padding: 3px;
    z-index: 9999;
}

.jvectormap-zoomin, .jvectormap-zoomout {
    position: absolute;
    left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #a62500;
    padding: 3px;
    color: white;
    width: 16px;
    height: 16px;
    cursor: pointer;
    line-height: 10px;
    text-align: center;
}

.jvectormap-zoomin {
    top: 10px;
}

.jvectormap-zoomout {
    top: 30px;
}