.survey-share-block{
	font-size: 19px;
	padding: 5px;
	background-color: #EEE7FF;
	border: 4px solid #ccc;
	display: inline-block;
	vertical-align: top;
}
.share-description{
	display: inline-block;
	width: 300px;
}
.share-block{
	margin-bottom: 10px;
	h3{ margin-bottom: 10px; }
}