.survey-share-block{
	font-size: 14px;
	padding: 5px;
	background-color: #EEE7FF;
	border: 4px solid #ccc;
	display: inline-block;
	vertical-align: top;
}
.share-description{
	display: inline-block;
	width: 300px;
}
.share-block{
	margin-bottom: 10px;
	&:not(:last-child){border-bottom: 1px solid #CCC;}
	h3{ margin-bottom: 0; }
	.left-padder{
		position: relative;
		padding-left: 50px;
		.status{
			position: absolute;
			left: 15px;
			top: 15px;
			width: 15px;
			height: 15px;
			background-color: #D60000;
			&.active{
				background-color: #00D600;
			}
		}
	}
}

.opt{
	padding: 7px;
	border: 1px solid #ccc;
	margin-bottom: 15px;
	label{
		font-weight: bold;
	}
	.description{
		padding: 5px;
	}
	.field{
		margin-bottom: 10px;
		h4{
			font-size: 20px;
		}		
	}

}