<% header('Dasboard') %>

<div class="padded-content">
  <%= page_header 'Dashboard' %>


<div id="events-block">
  <h1>Events:</h1>
  <ul>
    <% for event in current_account.events %>
       <li>
        <%= event.message %>
        <div class="date"><%= event.created_at %></div>
      </li>
    <% end %>
  </ul>
</div>
  
  <!-- <ul class="pagination">
    <li class="arrow unavailable"><a href="">&laquo;</a></li>
    <li class="current"><a href="">1</a></li>
    <li><a href="">2</a></li>
    <li><a href="">3</a></li>
    <li><a href="">4</a></li>
    <li class="unavailable"><a href="">&hellip;</a></li>
    <li><a href="">12</a></li>
    <li><a href="">13</a></li>
    <li class="arrow"><a href="">&raquo;</a></li>
  </ul> -->
</div>


<%= content_for :js do %>
  <script type="text/javascript">
  $(function () {
      
  });
  </script>
<% end %>

