<div class="ten columns margin-left">
  <h4>Fill basic information fields:</h4>
  <%= form_for @survey, html: {class: 'form'} do |f| %>
    <%= hidden_field_tag 'step', 'basic_info' %>
    <fieldset>
      <label>Choose category:</label>
	    <%= f.select(:category_id, Category.all.collect {|p| [ p.name, p.id ] }, {:include_blank => 'Select'}, class: 'bottom-space')%>
      
      <label>New survey name:</label>
      <%= f.text_field :name, placeholder: 'Enter name for your surevey'%>
      
      <label>New survey description:</label>
      <textarea class="min120height" placeholder="Enter here a brief description"></textarea>
     
    </fieldset> 
    <input type="submit" class="button right" value="Survey type »"></input>
  <% end %>
</div>
