<div class="five columns">
    <div class="panel callout radius">
    	<h5>This is a callout panel.</h5>
    	<p>It's a little ostentatious, but useful for important content.</p>
    </div>
</div>

<div class="five columns">
  <div class="panel callout radius">
    	<h5>This is a callout panel.</h5>
    	<p>It's a little ostentatious, but useful for important content.</p>
    </div>
</div>

<div class="five columns">
  <div class="panel callout radius">
    	<h5>This is a callout panel.</h5>
    	<p>It's a little ostentatious, but useful for important content.</p>
    </div>
</div>

<div class="row">
  <div class="two columns">
    <%= link_to "<< Basic info", edit_survey_path(@survey, step: 'basic_info'), class: 'button'%>
  </div>
  <div class="two columns offset-by-eleven">
    <%= form_for @survey, html: {class: 'form'} do |f| %>
      <%= hidden_field_tag 'step', 'look_and_fill' %>
      <input type="submit" class="button right" value="Chose design »"></input>
    <% end %>
  </div>  
</div>
