<div class="row bottom-space">
  <div class="five columns">
      <div class="panel callout radius">
        <h5>Clasic</h5>
        <img src="http://placehold.it/300x200">
      	<p>It's a little ostentatious, but useful for important content.</p>
      </div>
  </div>

  <div class="five columns">
    <div class="panel callout radius">
      <h5>Rating</h5>
     	<img src="http://placehold.it/300x200">
     	<p>It's a little ostentatious, but useful for important content.</p>
    </div>
  </div>

  <div class="five columns">
    <div class="panel callout radius">
      <h5>Small embedded survey</h5>
     	<img src="http://placehold.it/300x200">
    	<p>It's a little ostentatious, but useful for important content.</p>
    </div>
  </div>
</div>
  

<div class="row">
  <div class="two columns">
    <%= link_to "<< Basic info", edit_survey_path(@survey, step: 'basic_info'), class: 'blue button'%>
  </div>
  <div class="three columns offset-by-ten">
  <%= link_to "Questions Builder »", [:builder, @survey], class: 'blue button right'%>
  </div>  
</div>
