<footer>
	<h2>Оставайтесь на связи</h2>
	<div class="social-links">
		<div class="fb-like" data-send="true" data-layout="button_count" data-width="200" data-show-faces="false" data-font="tahoma"></div>
		<div><a href="https://twitter.com/share" class="twitter-share-button" data-text="SurveysKitchen: бесплатный онлайн сервис для создания профессиональных опросов, сбора и анализа результатов">Tweet</a></div>
		<div class="vk" id="vk_share_button">
			<script type="text/javascript">
				document.write(VK.Share.button(false,{type: "round", text: "Save to Vkontakte"}));
			</script>
		</div>
		<div><div class="g-plusone" data-size="medium" data-href="http://www.surveyskitchen.com"></div></div>
		<div>
			<script id="top100Counter" type="text/javascript" src="http://counter.rambler.ru/top100.jcn?2890169"></script>
			<noscript><a href="http://top100.rambler.ru/navi/2890169/"><img src="http://counter.rambler.ru/top100.cnt?2890169" alt="Rambler's Top100" border="0" /></a></noscript>
		</div>
	</div>

<br>
	<div>Следите за обновлениями на <%= link_to "официальной странице SurveysKitchen в Facebook", 'http://www.facebook.com/surveyskitchen' %></div>
	<div>Отправить нам письмо <a href="mailto:ceo@surveyskitchen.com">ceo@surveyskitchen.com</a></div>
	<div> <a href="http://www.surveyskitchen.com/blog">Наш блог</a></div>

	<p class="center-content margin-top">© SurveysKitchen 2012 - <%= Time.now.year %></p>
</footer><!-- Place this tag where you want the +1 button to render. -->