<div class="two columns">
  <dl class="tabs vertical">
    <dd class="active"><a href="#">Surveys</a></dd>
    <dd><a href="#">Clients</a></dd>
    <dd><a href="#">Categories</a></dd>
    <dd><a href="#">Designs</a></dd>
    <dd><a href="#">Statistics</a></dd>
    <dd><a href="/">Assets Manager</a></dd>
  </dl>
  <div class="sixteen columns centered">
    <%= link_to 'Compose new survey', :new_survey, class: 'green button vspace'%>
  </div>

</div>
