<div class="row searchbox-container">
  <div class="eleven mobile-three columns">
  	<form class="form">
    	<input class="searchbox" type="text" placeholder="Looking for something?"/>
    	<img src="/images/icons/search.png">
	</form>
  </div>
</div>