<%= content_tag_for :tr, client do %>
	<td class="name">
		<a href="#"><%= client.full_name %></a>
	</td>
	<td class="email">
		<a href="#"><%= client.email %></a>
	</td>
	<td class="note"><%= client.note %></td>
	<td class="actions">
		<button class='btn small'>Edit</button>
		<button class='btn small'>Delete</button>
	</td>
<% end %>