<%= div_for client do %>
	<div class="email"><%= client.email %></div>
	<div class="f_name"><%= client.first_name %></div>
	<div class="l_name"><%= client.last_name %></div>
	<div class="actions"></div>
<% end %>