<% title('О нас') %>

<div class="container-marketing">
	<div class="marketing-section">
		
		<h2 class="left-text">О нас</h2>

		Наша цель - создать инновационный продукт в сфере исследования мнения, который был бы одинаково полезен
		как начнающему пользователю, так и профессионалу. 
		Мы хотим облегчить жизнь наших клиентов, улучшить их благосостояние. Для этого мы помогаем принимать правильные решения, 
		основанные на результатах опросов.
		<br>
		SurveysKitchen был основан Июне 2012 и с тех пор интенсивно развивается и получает обновления почти каждый день. 
		<br><br>
		Наша команда состоит только из энергичных и уверенных в том, что они делают людей. Вот они:
		
		<div class="a-block">
			<h3>Павел Сероус</h3>
			<img class="pretty" src="/images/marketing/paul-ser.jpeg">
			<div class="inlined">
				Павел Сероус - основатель & владелец. Ruby, Ruby & Rails разработчик из Украины <br>
				Email	<a href="mailto:ceo@surveyskitchen.com">ceo@surveyskitchen.com</a> <br>
				Twitter <a href="https://twitter.com/pashka4281">@pashka4281</a> <br>
				Facebook <a href="http://www.facebook.com/paul.serous">Paul Serous</a>
			</div>
		</div>

		<div class="a-block">
			<h3>Филипп Диденков</h3>
			<img class="pretty" src="/images/marketing/filip-didenkov.jpg">
			<div class="inlined">
				Филипп Диденков - со-основатель, аналитик, советник. Украина.<br>
				Facebook <a href="http://www.facebook.com/fdidenkov">Filipp Didenkov</a>
				<!-- Email	<a href="mailto:ceo@surveyskitchen.com">ceo@surveyskitchen.com</a> -->
			</div>
		</div>

		<div class="a-block">
			<h3>Влад Пионтковский</h3>
			<img class="pretty" src="/images/marketing/vlad-piontrkovskyy.jpg">
			<div class="inlined">
				Влад Пионтковский - со-основатель, директор по маркетингу. Украина. <br>
				Facebook <a href="http://www.facebook.com/vlad.piontkovskyy">Vlad Piontkovskyy</a>
				<!-- Email	<a href="mailto:ceo@surveyskitchen.com">ceo@surveyskitchen.com</a> -->
			</div>
		</div>

	</div>
</div>