<div class="marketing-section">
	
	<h2 class="left-text">About</h2>
	SurveysKitchen is a web based software that enables you creating online polls and surveys, 
	gather responses and know your customer's opinion. 

	It works fine both on desktop and mobile devices. It's currently free so sign up and test.
	SurveysKitchen's big goal is to make your life a bit easier by simplifying daily surveying process and making it a bit more
	informative, quick and time saver.


	<br><br>
	SurveysKitchen was started on June, 2012 by Paul Ser

	<div class="a-block">
		<h3>Paul Ser</h3>
		<img class="pretty" src="/images/marketing/paul-ser.jpeg">
		<div class="inlined">
			Paul Ser - Founder & Owner. Ruby, Ruby & Rails developer from Ukraine <br>
			Email	<a href="mailto:ceo@surveyskitchen.com">ceo@surveyskitchen.com</a> <br>
			Twitter <a href="https://twitter.com/pashka4281">@pashka4281</a>
		</div>
	</div>

	<div class="a-block">
		<h3>Filip Didenkov</h3>
		<img class="pretty" src="/images/marketing/filip-didenkov.jpg">
		<div class="inlined">
			Filip Didenkov - project euangelist, advisor. <br>
			<!-- Email	<a href="mailto:ceo@surveyskitchen.com">ceo@surveyskitchen.com</a> -->
		</div>
	</div>

</div>