<% title('О нас') %>

<div class="container-marketing">
	<div class="marketing-section">
		
		<h2 class="left-text">О нас</h2>

		Наша цель - создать инновационный продукт в сфере исследования мнения, который был бы одинаково полезен
		как начнающему пользователю, так и профессионалу. 
		Мы хотим облегчить жизнь наших клиентов, улучшить их благосостояние. Для этого мы помогаем принимать правильные решения, 
		основанные на результатах опросов.
		<br>
		SurveysKitchen был основан Июне 2012 и с тех пор интенсивно развивается и обновляется каждый день. 
		
		
		<div>
			<h2 class="left-text">Мы глубоко удеждены в том, что</h2>
			<ol class="check-list">
		      <li><i class="icon-check"></i>Получение мнений при помощи опроса может быть легким и не требующим специальных навыков процессом</li>
		      <li><i class="icon-check"></i>Ваше время - это огромная ценность, и наша задача сделать сервис, который бы работал быстро и эффективно</li>
		      <li><i class="icon-check"></i>Исключительная персональная поддержка - ваше право клиента</li>
		    </ol>
		</div>
		<div class="a-block">
			<br><br>
			Наша команда состоит только из энергичных и уверенных в том, что они делают людей. Вот они:
			<h3 class="left-text">Павел Сероус</h3>
			<img class="pretty" src="/images/marketing/paul-ser.jpeg">
			<div class="inlined">
				Павел Сероус - основатель & владелец. Ruby, Ruby & Rails разработчик из Украины <br>
				Email	<a href="mailto:ceo@surveyskitchen.com">ceo@surveyskitchen.com</a> <br>
				Twitter <a href="https://twitter.com/pashka4281">@pashka4281</a> <br>
				Facebook <a href="http://www.facebook.com/paul.serous">Paul Serous</a><br>
				Skype pashka4281
			</div>
		</div>

		<div class="a-block">
			<h3 class="left-text">Филипп Диденков</h3>
			<img class="pretty" src="/images/marketing/filip-didenkov.jpg">
			<div class="inlined">
				Филипп Диденков - со-основатель, аналитик, советник. Украина.<br>
				Facebook <a href="http://www.facebook.com/fdidenkov">Filipp Didenkov</a>
				<!-- Email	<a href="mailto:ceo@surveyskitchen.com">ceo@surveyskitchen.com</a> -->
			</div>
		</div>

		<div class="a-block">
			<h3 class="left-text">Влад Пионтковский</h3>
			<img class="pretty" src="/images/marketing/vlad-piontrkovskyy.jpg">
			<div class="inlined">
				Влад Пионтковский - со-основатель, финансовый директор. Украина. <br>
				Facebook <a href="http://www.facebook.com/vlad.piontkovskyy">Vlad Piontkovskyy</a>
				<!-- Email	<a href="mailto:ceo@surveyskitchen.com">ceo@surveyskitchen.com</a> -->
			</div>
		</div>

	</div>
</div>