<% header('Dasboard', subheader: 'This is a place where all starts') %>

<div class="padded-content">
  <div class="row-fluid">
      <div class="span4">
        <div class="dashboard-box big">
          <h1>0</h1>
          <h2>new surveys passed</h2>
        </div>
      </div>
      
      <div class="span4">
        <div class="dashboard-box medium">
          <h1>15</h1>
          <h2>total surveys</h2>
        </div>
      </div>
      
      <div class="span4 end">
        <div class="dashboard-box small">
          <h1>2</h1>
          <h2>unfinished surveys</h2>
        </div>
      </div>

</div>
    
    <div class="bottom-space">
      
      <div class="ten">
        <div class="events-block">
          <h1>Events:<h1>
          <ul class="events">
            <li>fff</li>
            <li>fff</li>
            <li>fff</li>
            <li>fff</li>
            <li>fff</li>
          </ul>
        </div>
      </div>
      
    </div>
  
  <ul class="pagination">
    <li class="arrow unavailable"><a href="">&laquo;</a></li>
    <li class="current"><a href="">1</a></li>
    <li><a href="">2</a></li>
    <li><a href="">3</a></li>
    <li><a href="">4</a></li>
    <li class="unavailable"><a href="">&hellip;</a></li>
    <li><a href="">12</a></li>
    <li><a href="">13</a></li>
    <li class="arrow"><a href="">&raquo;</a></li>
  </ul>
</div>


<%= content_for :js do %>
  <script type="text/javascript">
  $(function () {
      
  });
  </script>
<% end %>

