<% title('Онлайн опросы и печатные анкеты. Список услуг') %>

<div class="container-marketing">
	<div class="marketing-section">
		<h2>Возможности SurveysKitchen</h2>
		В независимости от того, какой тарифный план вы выбираете, каждый из них содержит в себе следующий минимальный набор услуг.

		<h3>Базовые возможности -- бесплатный тарифный план</h3>

		<ol class="items-list">
			<li>
				<h4>10 основных типов вопросов</h4>
				наш конструктор опросов удобный и простой в использовании. 
			</li>
			<li>
				<h4>Конструктор опросов</h4>
				наш конструктор опросов удобный и простой в использовании. Он расчитан на то чтобы
				экономить время, которое вы тратите при создании опроса. Чтобы добавить элементы опроса 
				просто перетяните соответствующий элемент на рабочую область (функция drag & drop), 
				или кликните мышью на кнопку с названием типа вопроса для добаления его в конец списка вопросов.
			</li>

			<li>
				<h4>Conditional Logic for Questions</h4>
				There is a way to adjust which items to show based on respondent previous answers.
				This is a good approach to prevent people from seeing unnessesary items.
			</li>

			<li>
				<h4>Обязательные поля опроса</h4>
				Чтобы обеспечить необходиму целостность данных
				Отмечайте поля опроса как обязятельные чтобы быть уверенныйм, что респонденты не пропустят его.
				Это поможет повысить целостность и качество получаемых данных. Есть озможность задать вручную
				текст сообщения, показываемого в случае когда респондент оставляет вопрос незаполненным.
			</li>

			<li>
				<h4>Random Answers Positions</h4>
				This function helps to make your multiple variants questions display their items each time in different order.
			</li>

			<li>
				<h4>Настройки внешнего вида опроса</h4>
				Внешний вид опроса изменяется путем изменения темы оформления. Доступны 3 стандартные темы, а также редактор, 
				с помощью которого можно создавать свои собственные темы. Тема позволяет изменять фоновые цвета элементов опроса,
				шрифт и размер текста. Также есть возмжность использовать свой логотип в заголовке опроса.
			</li>

		</ol>

		<h3>Начальный тарифный план</h3>
		Includes all basic features, additionaly has this ones:
		<ol>
			<li>
				<h4>SSL security</h4>
				Your surveys privacy is guaranted by 256 bit encryption provided by SSL (ссылка на описание).
				Please notice that payment process is secured by default in any plan (read), we care about your security! 
			</li>
		</ol>

		<h3>Профессиональный тарифный план</h3>
		Contains all features that SurveysKitchen propose. No limits, no compromises

		<h3>Тарифный план "Компания"</h3>
	</div>
</div>