
<div class="marketing-section">
	<h2>Simple but yet powerful </h2>
	No matter what account plan do you select, each of them has this common set of features. 
	This is basic functionality you have on SurveysKtchen. 

	<h3>Basic features -- Starter plan</h3>

	<ol>

		<li>
			<h4>Create Skip Logic (Conditional Logic)</h4>
			You can customize the path a respondent takes through your survey by adding skip logic.
		    Eliminate unnecessary confusion by skipping non-applicable questions.  A proven way to reduce "drop-outs" and overall frustration.
		</li>

		<li>
			<h4>Mandatory Items</h4>
			You can mark any question as mandatory to make sure respondednt will not miss it. 
			This will help you get higher quality class responses. 
			Validation message if fully customizable for each question.
		</li>

		<li>
			<h4>Randomize Answer Choices</h4>
			The ordering of choices within a question can introduce an unintended bias. 
			Randomizing answer choices works to eliminate this "order bias".
		</li>

		<li>
			<h4>Add a Logo</h4>
			Branding your survey gives your survey a professional feel. You can use any logo up to 50K in size at 
			the top of every page in your survey.
		</li>

		<li>
			<h4>Create Custom Themes</h4>
			Every element of your survey can be customized: fonts, sizes, and colors. 
			After creating your own custom theme, you can apply it to all your future surveys.
		</li>

		<li>
			<h4>Generate Popup Invitations</h4>
			To increase response rates, you can create a custom popup invitation for your own website. 
			Simply cut and paste the code into any webpage to start generating invitations. To minimize annoyance to your 
			visitors, invitations will only popup once.
		</li>

		<li>
			<h4>Custom Redirect</h4>
			Once your survey is complete, respondents will be redirected to the page of your choice. 
			By default, completed surveys are redirected to the SurveysKitchen homepage.
		</li>

		<li>
			<h4>Filter Results</h4>
			A powerful feature that helps you find patterns in your results. Ask questions such as: 
			"Show me only those respondents who answered choice x in question y." Any question in your survey (even open-ended) 
			can be filtered. The entire results section will reflect your filter choices.
		</li>

		<li>
			<h4>Share Results</h4>
			Let others view your results without giving them access to your account. 
			You can control which results are visible, and how the results may be used.
		</li>

		<li>
			Download Results - All the data can be downloaded to your local computer for further analysis. 
			Take your summary results into Excel to create graphs. Save the detail results to your hard drive for safekeeping. 
			You are in complete control.
		</li>
	</ol>

	<h3>Professional plan</h3>
	Includes all basic features, additionaly has this ones:
	<ol>
		<li>
			<h4>SSL security</h4>
			Your surveys privacy is guaranted by 256 bit encryption provided by SSL (ссылка на описание).
			Please notice that payment process is secured by default in any plan (read), we care about your security! 
		</li>
	</ol>

	<h3>Company plan</h3>
	Contains features of all previous plans. Additionally provides you with:
	<ol>
		<li>
			<h4>No Limits</h4>
			You can create surveys with an unlimited number of questions, spanning an unlimited number of pages.  
			Unlike other services, you are not charged extra for long surveys.
		</li>
	</ol>
</div>
