
<div class="marketing-section">
	<h2>Simple but yet powerful </h2>
	No matter what account plan do you select, each of them has this common set of features. 
	This is basic functionality you have on SurveysKtchen. 

	<h3>Basic features -- Starter plan</h3>

	<ol>

		<li>
			<h4>Conditional Logic for Questions</h4>
			There is a way to adjust which items to show based on respondent previous answers.
			This is a good approach to prevent people from seeing unnessesary items.
		</li>

		<li>
			<h4>Mandatory Items</h4>
			You can mark any question as mandatory to make sure respondednt will not miss it. 
			This will help you get higher quality class responses. 
			Validation message if fully customizable for each question.
		</li>

		<li>
			<h4>Random Answers Positions</h4>
			This function helps to make your multiple variants questions display their items each time in different order.
		</li>

		<li>
			<h4>Custom Survey Design</h4>
			Of course you can customize look and feel of your surveys. From adding your logo to changing colors of elelemnts
			and their look. Choose from several pre-defined themes or create your own.
		</li>

	</ol>

	<h3>Professional plan</h3>
	Includes all basic features, additionaly has this ones:
	<ol>
		<li>
			<h4>SSL security</h4>
			Your surveys privacy is guaranted by 256 bit encryption provided by SSL (ссылка на описание).
			Please notice that payment process is secured by default in any plan (read), we care about your security! 
		</li>
	</ol>

	<h3>Company plan</h3>
	Contains all features that SurveysKitchen propose. No limits, no compromises

</div>
