
<div class="marketing-section">
	<h3>Simple but yet powerful </h3>
	Professional subscribers have access to a wealth of advanced features. 
	In addition to the basic features of SurveysKitchen, 
	professional subscribers have unlimited access to all of the features described below:
	<ol>
		<li>
			No Limits - You can create surveys with an unlimited number of questions, spanning an unlimited number of pages.  
			Unlike other services, you are not charged extra for long surveys.
		</li>
		<li>
			Create Skip Logic (Conditional Logic) - You can customize the path a respondent takes through your survey by adding skip logic.
		    Eliminate unnecessary confusion by skipping non-applicable questions.  A proven way to reduce "drop-outs" and overall frustration.
		</li>

		<li>
			Require Answers - Make sure that you receive a response to essential questions. You can specify on a question 
			by question basis which questions require an answer. Helps to improve the quality of your data.
		</li>

		<li>
			Randomize Answer Choices - The ordering of choices within a question can introduce an unintended bias. 
			Randomizing answer choices works to eliminate this "order bias".
		</li>

		<li>
			Add a Logo - Branding your survey gives your survey a professional feel. You can use any logo up to 50K in size at 
			the top of every page in your survey.
		</li>

		<li>
			Create Custom Themes - Every element of your survey can be customized: fonts, sizes, and colors. 
			After creating your own custom theme, you can apply it to all your future surveys.
		</li>

		<li>
			Generate Popup Invitations - To increase response rates, you can create a custom popup invitation for your own website. 
			Simply cut and paste the code into any webpage to start generating invitations. To minimize annoyance to your 
			visitors, invitations will only popup once.
		</li>

		<li>
			Custom Redirect - Once your survey is complete, respondents will be redirected to the page of your choice. 
			By default, completed surveys are redirected to the SurveysKitchen homepage.
		</li>

		<li>
			Filter Results - A powerful feature that helps you find patterns in your results. Ask questions such as: 
			"Show me only those respondents who answered choice x in question y." Any question in your survey (even open-ended) 
			can be filtered. The entire results section will reflect your filter choices.
		</li>

		<li>
			Share Results - Let others view your results without giving them access to your account. 
			You can control which results are visible, and how the results may be used.
		</li>

		<li>
			Download Results - All the data can be downloaded to your local computer for further analysis. 
			Take your summary results into Excel to create graphs. Save the detail results to your hard drive for safekeeping. 
			You are in complete control.
		</li>
	</ol>
</div>
