<div class="padded-content center-content">
	<div style="font-size: 80px; line-height: 100px;">
		<span style="color: #138A8F">S</span>urveys<span style="color: #138A8F">K</span>itchen
	</div>

	<h3>We're almost done!</h3>
	<div class="progress progress-striped active">
	  <div class="bar" style="width: 70%;"></div>
	</div>

	<div>
		<%= link_to "@pashka4281", 'https://twitter.com/pashka4281' %>
	</div>

</div>
