<% title('online surveying software') %>

	<h2 id="main-wording" class="center-content">
		You're just a couple minutes ahead of starting 
		creating professional online surveys.
	</h2>

	<div class="marketing-section">
		<h3>Simple but yet powerful </h3>
		<div class="row">
			<div class="img-block column half-width">
				<img src="/images/marketing/surveys-list.png" alt="Surveys list image">
				<div class="description">
					<h4>Surveys list</h4>
					Manage all your surveys in one place. Activate/deactivate survey right from the list.
				</div>
			</div>
			
			<div class="img-block column half-width">
				<img src="/images/marketing/survey-builder.png" alt="Survey builder image">
				<div class="description">
					<h4>Awesome survey builder</h4>
					We created great survey builder to utilize all that power SurveysKitchen put into surveys.
					Self-explanationary easy to use and working same good on both destktop and mobile browsers.
				</div>
			</div>
		</div>


		<%= link_to "/plans", class: 'signup-btn' do %>
			Start cooking surveys for free<br>
			<sup>View plans & prices</sup>
		<% end %>
	</div>

	<div class="marketing-section">
		<h3>10 different survey item types for everyone's needs:</h3>
		<div class="row info-block">
			<div class="column half-width">
				<h4>Rich text fragment </h4> 
				Rich text fragment is used to place some descriptive text on your survey. 
				It has very common to usual word processor features like creating paragraphs, blocquotes, 
				making text bold or italic, inserting images and many more.
			</div>
			<div class="column half-width">
				<h4>Drop down item</h4>
				blah-blah...
			</div>
		</div>
		<div class="row info-block">
			<div class="column half-width">
				<h4>Multiple select item</h4>
				blah-blah...
			</div>
			<div class="column half-width">
				<h4>Scale item</h4>
				blah-blah...
			</div>
		</div>
		<div class="row info-block">
			<div class="column half-width">
				<h4>Single select item</h4>
				Classic surveying component. It presents a list of items from which you may choose only one.
			</div>
			<div class="column half-width">
				<h4>Text field item</h4>
				Text field is used to gather some user input. It may also be called "open type question". 
				For short inputs you may choose text field and if you're expecting some extended response then your choose is textarea.
			</div>
		</div>
		<div class="row info-block">
			<div class="column half-width">
				<h4>Video item</h4>
				With help of video item you can easily embed any video from YouTube or Vimeo. 
				Just put the link of the clip into textbox, choose desired frame size and you're all done. 
			</div>
			<div class="column half-width">
				<h4>Single select grid</h4>
				blah-blah...
			</div>
		</div>
		<div class="row info-block">
			<div class="column half-width">
				<h4>Date/Time item</h4>
				blah-blah...
			</div>
			<div class="column half-width">
				<h4>Page break item</h4>
				Page break splits survey into pages from the place it was inserted. It is just the same survey item and
				can be moved/copied as well.
			</div>
		</div>

	</div>

	<div class="marketing-section">
		<h3>Stay connected</h3>
		<div class="social-links">
			<div class="fb-like" data-send="true" data-layout="button_count" data-width="200" data-show-faces="false" data-font="tahoma"></div>
			<div><a href="https://twitter.com/share" class="twitter-share-button" data-text="SurveysKitchen online surveying software">Tweet</a></div>
		</div>
		
		
		<div>Catch our updates on <%= link_to "SurveysKitchen official Facebook page", 'http://www.facebook.com/surveyskitchen' %></div>
	</div>

<div class="padded-content center-content">
	<div style="font-size: 80px; line-height: 100px;">
		<span style="color: #138A8F">S</span>urveys<span style="color: #138A8F">K</span>itchen
	</div>

	<h4>
		SurveysKitchen is a web based software that enables you create online polls and surveys, 
		gather responses and know your customer's opinion. 
		It works fine both on desktop and mobile devices. It's currently free so sign up and test.
	</h4>

	<br />

	<h5>Visit <%= link_to "sign in form", :login %> to enter the site or choose from the providers below:</h5>
	

	<h3>Get ready for something special soon!</h3>
	<div class="progress progress-striped active">
	  <div class="bar" style="width: 70%;"></div>
	</div>

</div>
