<div class="padded-content center-content">
	<div style="font-size: 80px; line-height: 100px;">
		<span style="color: #138A8F">S</span>urveys<span style="color: #138A8F">K</span>itchen
	</div>

	<h4>
		SurveysKitchen is a web based software that enables you create online polls and surveys, 
		gather responses and know your customer's opinion. 
		It works fine both on desktop and mobile devices. It's currently free so sign up and test.
	</h4>

	<br />

	<h5>Visit <%= link_to "sign in form", :login %> form to enter the site or choose from the providers below:</h5>
	<div class="center-content">
		<%= link_to "", "/auth/facebook", class: 'sign-in-facebook' %>
		<%#= link_to "", "/auth/twitter", class: 'sign-in-twitter' %>
	</div>

	<h3>Get ready for something special soon!</h3>
	<div class="progress progress-striped active">
	  <div class="bar" style="width: 70%;"></div>
	</div>

	

	<div>
		<%= link_to "@pashka4281", 'https://twitter.com/pashka4281' %>
	</div>

</div>
