<% title('Monthly plans') %>

<div class="marketing-section">
	<div id="plans-wrapper">

		<div class="plan-block">
			<h3>Starter</h3>

			<div class="price">$20/month</div>
			<%= link_to "Start free 30 days trial", "", class: 'start-btn' %>
		</div>

		<div class="plan-block popular">
			<h3>Professional</h3>

			<div class="price">$35/month</div>
			<%= link_to "Start free 30 days trial", "", class: 'start-btn' %>
		</div>

		<div class="plan-block">
			<h3>Company</h3>

			<div class="price">$70/month</div>
			<%= link_to "Start free 30 days trial", "", class: 'start-btn' %>
		</div>

	</div>



	100% money back guarantee. You can consider to cancel subscription at anytime.<br>
	You can change plan at any time you decide, you will be applied the set of features<br> 
	of the new plan right after switching, but only next month will be billed after updated plan cost.<br>
</div>