<% title('Тарифные планы') %>

<div class="container-marketing">
	<div class="marketing-section">
		<div id="plans-wrapper">
			<div class="plan-block">
				<h3>Бесплатный</h3>

				<div class="price">$0/месяц</div>
				<ul>
					<li>Неограниченное количество опросов</li>
					<li>Максимум 100 ответов \ опрос</li>
					<li>5 способов распространения опроса</li>
				</ul>
				<%= link_to "Приступить к созданию опросов", :register, class: 'start-btn' %>
			</div>
			<div class="plan-block">
				<h3>Начальный</h3>

				<div class="price">$20/месяц</div>
				<button disabled="dis" class="start-btn">30 дневный бесплатный период</button>
			</div>

			<div class="plan-block popular">
				<h3>Профессиональный</h3>

				<div class="price">$35/месяц</div>
				<button disabled="dis" class="start-btn">30 дневный бесплатный период</button>
			</div>

			<div class="plan-block">
				<h3>Компания</h3>

				<div class="price">$70/месяц</div>
				<button disabled="dis" class="start-btn">30 дневный бесплатный период</button>
			</div>

		</div>



		100% гарантия возврата оплаты. Вы можете решить прекратить пользоваться услугами SurveysKitchen в любое время, при
		этом можете быть уверены, оплата за последний месяц пользования взыматься не будет.<br>
		Вы можете сменить тарифный план в любое время, функциональные возможности нового тарифного плана будут 
		доступны без каких-либо задержек. Оплата по новому тарифному плану будет производится по графику, т.е. через месяц после 
		последнего платежа в не зависимости от манипуляций с тарифными планами.
	</div>
</div>