<% title('Тарифные планы') %>

<div class="container-marketing">
	<div class="marketing-section">
		<div id="plans-wrapper">
			<div class="plan-block">
				<h3>Бесплатный</h3>

				<div class="price">$0/месяц</div>
				<ul>
					<li><i class="icon-plus"></i>Неограниченное количество опросов</li>
					<li><i class="icon-plus"></i>Максимум 100 ответов \ опрос</li>
					<li><i class="icon-plus"></i>5 способов распространения опроса</li>
					<li><i class="icon-plus"></i>Настройка внешнего вида опросов при помощи встроенных и создаваемых вами тем</li>
				</ul>
				<%= link_to "Приступить к созданию опросов", :register, class: 'start-btn' %>
			</div>
			<div class="plan-block">
				<h3>Начальный</h3>

				<div class="price">$10/месяц</div>
				Оставьте заявку на предварительный заказ и получите скидку 40% на первый год пользования. 
				Мы сообщим вам, когда SurveysKitchen начнет предоставлять платные услуги 
				<!-- <button disabled="dis" class="start-btn">30 дневный бесплатный период</button> -->
				<%= link_to "Оставить предварительный заказ", new_buy_request_path(:plan => 'starter'), class: 'start-btn' %>
			</div>

			<div class="plan-block popular">
				<h3>Профессиональный</h3>

				<div class="price">$19/месяц</div>

				Оставьте заявку на предварительный заказ и получите скидку 40% на первый год пользования. 
				Мы сообщим вам, когда SurveysKitchen начнет предоставлять платные услуги 
				<!-- <button disabled="dis" class="start-btn">30 дневный бесплатный период</button> -->
				<%= link_to "Оставить предварительный заказ", new_buy_request_path(:plan => 'pro'), class: 'start-btn' %>
			</div>

			<div class="plan-block">
				<h3>Компания</h3>

				<div class="price">$79/месяц</div>
				Оставьте заявку на предварительный заказ и получите скидку 40% на первый год пользования. 
				Мы сообщим вам, когда SurveysKitchen начнет предоставлять платные услуги 
				<!-- <button disabled="dis" class="start-btn">30 дневный бесплатный период</button> -->
				<%= link_to "Оставить предварительный заказ", new_buy_request_path(:plan => 'company'), class: 'start-btn' %>
			</div>

		</div>



		100% гарантия возврата оплаты. Вы можете решить прекратить пользоваться услугами SurveysKitchen в любое время, при
		этом можете быть уверены, оплата за последний месяц пользования взыматься не будет.

		<h2>Некоторые популярные вопросы</h2>
		<ul class="answers">
		  <li class="left">
		    <h4>Для чего я могу использовать опросы SurveysKitchen?</h4>
		    <p>
		    	Опросы могут служить хорошим источником информации о вашем продукте или деятельности.
		    	Они помогут узнать реальные отзывы людей о услуге, еще до того, как вы ее запустите, таким образом,
		    	сэкономив ваше время и средства. 
		    </p>
		  </li>
		  <li>
		    <h4>Что происходит в случае достижения ограничений тарифного плана?</h4>
		    <p>
		    	В этом случае вы получите предложение перейти на тарифный план с меньшими ограничениями.
		    	Вы можете сменить тарифный план в любое время, возможности нового тарифного плана 
		    	будут доступны сразу после этого. Оплата по новому тарифному плану будет производится по графику, т.е. 
		    	через месяц после последнего платежа в не зависимости от манипуляций с тарифными планами.
		    </p>
		  </li>

		  <li class="left">
		    <h4>Как долго можно пользоваться бесплатным тарифным планом?</h4>
		    <p>
		    	Вы можете использовать бесплатный тарифный план неограниченное время.
		    	Он идеально подойдет для индивидульного использования в случае небольшого количества 
		    	опросов или в качестве знакомства с возможностями SurveysKitchen. 
		    </p>
		  </li>

		  <li>
		    <h4>Зачем нужен список контактов?</h4>
		    <p>
		    	Контакты необходимы для того, чтобы иметь возможность персонализации ваших опросов, приглашений к опросам а также отчетов.
		    	К примеру, вы можете автоматически вставить любые контактные данные респондента, которому отправляется приглашение.
		    </p>
		  </li>
		</ul>
	</div>
</div>