<div class="padded-content">
  <%= page_header "<b>#{@survey.name}</b> -- Responses", default_survey_menu: true %>

  <% if @responses.any? %>
    <ul id="responses-list">
      <%= render @responses %>
    </ul>
    <%= paginate @responses %>
  <% else %>  
    <h5>There are not items to display currently</h5>
  <% end %>
</div>