<div class="padded-content">
  <%= page_header "Responses for \"#{@survey.name}\"" %>
  <%= render 'shared/responses_nav' %>

  <% if @responses.any? %>
    <ul id="responses-list">
      <%= render @responses %>
    </ul>
  <% else %>  
    <h5>There are not items to display currently</h5>
  <% end %>
</div>