<div class="padded-content">
	<ul class="unstyled">
		<% @response.content.each do |x,y| %>
			<% s_item = @survey_items.select{|s| s.id.to_s == x }.first %>
			<%= render "/survey_items/result_items/#{s_item.type.demodulize.underscore}", item: s_item, result: y %>
		<% end %>
	</ul>
</div>