<% header("\"#{@survey.name}\" > Deploy") %>

<%= render 'shared/nav_menu' %>

<div class="twelve columns end">

  <div class="round-borders padded">

    <dl class="tabs">
      <dd class="active"><a href="#public">Public</a></dd>
      <dd><a href="#private">Private</a></dd>
    </dl>

    <ul class="tabs-content">
      <li class="active link-block" id="publicTab">
        <div class="row">
          Survey public link:
          <span class="survey-deploy-link">http://mycompany.surveyskitchen.com/123456</span>
        </div>
        <div class="row">
          Embed JavaScript code:
          <span class="survey-deploy-link">
            <%= escape_javascript('<script src="http://surveymonkey.com/12324.js"></script>').gsub("\\", '') %>
          </span>
        </div>
      </li>
      <li id="privateTab" class="link-block">
        <div class="row">
          Survey private link:
          <span class="survey-deploy-link">http://mycompany.surveyskitchen.com/123456</span>
        </div>
        <div class="row">
          Embed JavaScript code:
          <span class="survey-deploy-link">
            <%= escape_javascript("<script src=\"http://surveymonkey.com/#{@survey.token}.js\"></script>").gsub("\\", '') %>
          </span>
        </div>
      </li>
    </ul>

    <input type="checkbox">I need SSL secured links!</input>
  </div>

</div>

<% content_for :js do %>
  <script type="text/javascript">
    $(document).foundationTabs();
  </script>
<% end %>