<% header("\"#{@survey.name}\" > Deploy") %>

<div class="padded-content">
  <div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Public</a></li>
      <li><a href="#tab2" data-toggle="tab">Private</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <table class="table">
          <thead>
            <tr></tr>
          </thead>
          <tbody>
            <tr>
              <td>Survey public link:</td>
              <td>
                <span class="survey-deploy-link"><%= APP_HOST + s_show_survey_path(token: @survey.token) %></span>
              </td>
            </tr>
            <tr>
              <td>Embed JavaScript code:</td>
              <td>
                <span class="survey-deploy-link">
                  not available yet
                  <!-- <%= escape_javascript('<script src="http://surveyskitchen.com/s/12324.js"></script>').gsub("\\", '') %>
                -->
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tab-pane" id="tab2">
        <table class="table">
          <thead>
            <tr></tr>
          </thead>
          <tbody>
            <tr>
              <td>Survey private link:</td>
              <td>
                <span class="survey-deploy-link">http://mycompany.surveyskitchen.com/123456</span>
              </td>
            </tr>
            <tr>
              <td>Embed JavaScript code:</td>
              <td>
                <span class="survey-deploy-link">
                  <%= escape_javascript("<script src=\"http://surveyskitchen.com/#{@survey.token}.js\"></script>").gsub("\\", '') %>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <input type="checkbox">I need SSL secured links!</input>
</div>


