
  <%= page_header "Edit Survey (#{link_to('builder', builder_survey_path(@survey), class: 'light' )})" %>

  <div class="row">
    <div class="span6">
      <%= render 'form' %>
    </div>
  </div>
 