<% header('Surveys', subheader: 'This is a place where all starts') %>

<%= render 'shared/nav_menu' %>

<div class="twelve columns">
  <% if @surveys.any? %>
    <table class="full-width interactive">
      <thead>
        <tr>
          <th></th>
          <th>Survey name</th>
          <th>Updated</th>
        </tr>
      </thead>
      <tbody>
        <%- @surveys.each do |s| -%>
          <tr>
            <td class="two"><span class="radius [secondary, alert, success] label">Example Label</span></td>
            <td><%= link_to s.name, survey_path(s) %></td>
            <td class="two"><%= s.updated_at.to_s(:short) %></td>
          </tr>
        <%- end -%>
      </tbody>
    </table>
  <% else %>  
    <h5>There is not items to display currently</h5>
  <% end %>
  
</div>

<%= content_for :head_panel, render('shared/searchbox') %>
