
  <%= page_header "Surveys" %>

  <% if @surveys.any? %>
    <div id="surveys_list"><%= render @surveys %></div>
  <% else %>
    <h4>There are not items to display currently</h4>
    <br>
    <%= link_to "Create your first survey", :new_survey, class: 'btn' %>
  <% end %>


<% content_for :js do %>
<script>
	$(document).on('click', '#surveys_list .switch-btn', function(){
		_this = $(this);
		$.ajax({
			url: _this.attr('href'),
			type: 'PUT',
			dataType: 'json',
			success: function(resp){
				if(resp.active)
					{ _this.parents('.survey').addClass('active'); _this.siblings('.survey-status').text('Active') }
				else
					{ _this.parents('.survey').removeClass('active'); _this.siblings('.survey-status').text('Stopped') }
			}
		})
		return false;
	});
</script>
<% end %>

