
  <%= page_header "Surveys" %>

  <% if @surveys.any? %>
    <div id="surveys_list"><%= render @surveys %></div>
  <% else %>
    <h5>There are not items to display currently</h5>
  <% end %>


<%= content_for :head_panel, render('shared/searchbox') %>
