
<%= page_header "#{@survey.name} -- Report" %>

<div id="report">
	<% @survey.sorted_question_items.each_with_index do |item,i| %>
		<div class="report-item">
			<div class="report-item-header">
				<h4><%= item.title %></h4>
			</div>
			<div class="report-item-body">
dddf
			</div>
		</div>
	<% end %>
</div>