= page_header t('surveys.report.title', name: @survey.name), default_survey_menu: true

#report
	- if @responses_content.any?
		- @survey.sorted_question_items.each_with_index do |s_item,i|
			= render "/survey_items/report_item", item: s_item, index: i 
	- else
		%h3	I'm really sorry but at the moment there is no data to show up :(
		share this survey to get more responses


/ = content_for :after_content do 
/ 	<div class="modal hide fade" id="shareReportContainer">
/ 	  <div class="modal-header">
/ 	    <a href="#" class="close"></a>
/ 	    <h3>Share report</h3>
/ 	  </div>
/ 	  <div class="modal-body">
/ 	  	<a href="#" class="btn">Export to PDF</a>
/ 	  	<a href="#" class="btn">Send by email</a>
/ 	  	<a href="#" class="btn">Send to Facebook</a>
/ 	  </div>
/ 	  <div class="modal-footer">
/ 	    <a href="#" class="btn close">Cancel</a>
/ 	  </div>
/ 	</div>
/ <% end %>


- content_for :js do
	:javascript
		$('.star-rating').jDisplayStars();