
<%= page_header "#{@survey.name} -- Report" %>

<div id="report">
	<% @survey.sorted_question_items.each_with_index do |s_item,i| %>
		<%= render "/survey_items/report_item", item: s_item, index: i %>
	<% end %>
</div>

<% content_for :js do %>
<script type="text/javascript">
	$('.star-rating').jDisplayStars();
</script>
<% end %>