<div class="padded-content">
  <%= ribbed_header "Report for \"#{@survey.name}\"" %>
  <%= render 'shared/responses_nav' %>

  <ul class="unstyled">
    <% @survey.items.each_with_index do |item,i| %>
      <li>
        <%= item.title %>
      </li>
    <% end %>
  </ul>

</div>