<div class="btn-toolbar manage_links">
  <div class="btn-group">
    <a class="btn moveGrabber" href="#"><i class="icon-move"></i></a>
    <a class="btn editSurveyItem" href="#"><i class="icon-pencil"></i></a>
    <%= link_to content_tag(:i, '', class: 'icon-trash'), '#', class: 'btn deleteLnk btn-danger', confirm: 'Sure?'%>
  </div>
</div>
