<div class="item_tools">
    <button class="item-copy-link btn small" title="<%= t 'surveys.builder.copy' %>"><i class="icon-docs"></i></button>
    <button class="deleteLnk btn-danger btn small" title="<%= t 'surveys.builder.remove' %>"><i class="icon-trash"></i></button>
</div>
