<div class="manage_links">
    <a class="moveGrabber" href="#"><i class="icon-move"></i></a>
    <a href="<%= edit_survey_item_path(@survey, item) %>" class="item-edit-link" data-target="#editItemContainer" data-toggle="modal">
    	<i class="icon-pencil"></i>
    </a>
    <%= link_to content_tag(:i, '', class: 'icon-trash'), '#', class: 'deleteLnk btn-danger' %>
</div>
