<%= content_tag_for :div, item, class: "row insertable sortable_item", item_id: item.id do -%>
  <div class="row">
    <ul class="link-list manage_links">
      <li><a href="#">Edit</a></li>
      <li><%= link_to 'Delete', '#', class: 'deleteLnk', confirm: 'Sure?' %></li>
    </ul>
    <div class="fifteen columns centered desc_text_content">
      <%= item.text_content %>
  	</div>
  </div>
  <div class="row">
  	<div class="ten columns centered">
  	  <button class="button secondary insert_buttons">Insert here »</button>
	  </div>
  </div>
<%- end -%>
