<%= div_for item, class: "insertable sortable_item", item_id: item.id do -%>
	<div class="navbar-inner pull-right">
	    <%= render 'survey_items/items/_tools_box'%>
	</div>
	<div class="well">
	    <%= item.text_content %>
	</div>

	<%= insert_button %>
<%- end -%>