<%= div_for item, class: "survey_item", item_id: item.id do -%>
	<%= render 'survey_items/items/_tools_box', item: item %>
	<div class="item-inner">
		<div class="item-content"><p><%= item.text_content %></p></div>
	</div>

	<%= insert_button %>
<%- end -%>