<%= content_tag_for :div, item, class: "row insertable sortable_item", item_id: item.id do -%>
  <div class="row">
    <%= render 'survey_items/items/_tools_box'%>
    <div class="fifteen columns centered desc_text_content">
      <%= item.text_content %>
  	</div>
  </div>
  <div class="row">
  	<div class="ten columns centered">
  	  <button class="button secondary insert_buttons">Insert here »</button>
	  </div>
  </div>
<%- end -%>
