<%= div_for item, class: "insertable sortable_item", item_id: item.id do -%>
  <div class="pageEnd"></div>
    <div class="navbar-inner pull-right">
      <%= render 'survey_items/items/_tools_box', item: item %>
    </div>
    <div class="row">
      <div class="span4 page_border"></div>
      <div class="span2 page_break_texting">
        <h5>Page break</h5>
      </div>
      <div class="span4 page_border"></div>
  	</div>
  <div class="pageStart">
    <%= insert_button %>
  </div>

  
<%- end -%>

