<%= content_tag_for :div, item, class: "row insertable sortable_item", item_id: item.id, style: "margin: 0px -14px;" do -%>
  <div class="row">
    <%= render 'survey_items/items/_tools_box'%>
    <div class="fifteen columns centered">
      <div class="six columns page_border mobile-four"></div>
      <div class="three columns page_break_texting">
        <h5>Page break</h5>
      </div>
      <div class="seven columns page_border end mobile-four"></div>
  	</div>
  </div>
  <div class="row" style="border: 4px solid #D3D0D0; border-bottom: none">
  	<div class="ten columns centered">
  	  <button class="button secondary insert_buttons">Insert here »</button>
	  </div>
  </div>
<%- end -%>

