<%= content_tag_for :div, item, class: "row insertable sortable_item question-item", item_id: item.id do -%>
  <div class="row content-row">
    <div class="row" style="display:none">
      <div class="three columns offset-by-thirteen">
        <ul class="link-list">
          <li><a href="#">Edit</a></li>
          <li><%= link_to 'Delete', '#', class: 'deleteLnk', confirm: 'Sure?' %></li>
        </ul>
      </div>
    </div>

    <div class="row item_header">
      <div class="fifteen columns centered">
      	<h6><%= item.title%></h6>        
      </div>
    </div>
    <div class="row">
  	  <div class="one columns scale_limits">1</div>
  	  <div class="fourteen columns"><input type="range" /></div>
  	  <div class="one columns scale_limits">2</div>
    </div>
    
  </div>
  <div class="row">
  	<div class="ten columns centered">
  		<button class="button secondary insert_buttons">Insert here »</button>
  	</div>
  </div>
<%- end -%>
