<%= content_tag_for :div, item, class: "row insertable sortable_item question-item", item_id: item.id do -%>
  <div class="row content-row">
    <%= render 'survey_items/items/_tools_box'%>
    <div class="row item_header">
      <div class="sixteen columns">
      	<h6><%= item.title %></h6>
      </div>
    </div>
    
    <div class="row">
      <div class="fifteen columns centered">
        <% if item.appearance == 'txt_field' %>
          <input type="text" />
        <% else %>
          <textarea></textarea>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
  	<div class="ten columns centered">
  		<button class="button secondary insert_buttons">Insert here »</button>
  	</div>
 </div>
<%- end -%>
