@mixin borderRadius($size) {
  -moz-border-radius: $size;
  -webkit-border-radius: $size;
  -khtml-border-radius: $size;
   border-radius: $size;
}
$default_shadow: 0px 0px 18px #555;

.full-width{ width: 100%; }
.width-90{ width: 90%; }
.center-content{ text-align: center; }
html{ height: 100%; }
body{ 
	//background: url(/images/bg-image.png);
	background-color: rgb(235, 235, 235);
	padding: 0;
	margin: 0;
	height: 100%;
	font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
	width: 100%;
	font-size: 14px;
	position: relative;
	&::after{
		content: ".";
		display: block;
		height: 0;
		visibility: hidden;
		clear: both;
	}
}

$blue-color: #CFCFCF;


#hover{
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 9999999;
	top: 0;
	left: 0;
	background-color: black;
	opacity: 0.9;
}

form .field_with_errors{
	display: inline;
	input, textarea, select{ border: 1px solid #FF8E8E !important; }
}
footer{ 
	margin-top: 15px;
	float: left;
	width: 100%;
	bottom: 0;
	height: 60px;
	background-color: rgb(224, 224, 224);
	padding: 7px;
	border-top: 1px solid rgb(185, 158, 158);
	margin-bottom: -15px;
	position: relative;
}
a.simple_link:hover{ text-decoration: none; }



a[class^="sign-in-"]{
	&:hover{ background-position: 0 22px; }
	&:active{ background-position: 0 46px; }
	height: 22px;
	width: 150px;
	display: inline-block;
}
a.sign-in-facebook{	background-image: url(/images/signin_facebook.png);}
a.sign-in-twitter{	background-image: url(/images/signin_twitter.png);}


h2{
	small{ min-width: 180px; display: inline-block; }
}
h1{ font-size: 1.15em;}
h2{ font-size: 1.8em;}
h3{ font-size: 1.5em;}
h4{ font-size: 1.15em;}
h5{ font-size: 0.9em;}
.left{ float: left; }
.right{ float: right; }

.spacer{ margin-bottom: 15px; }

//SIMPLE COLUMN SYSTEM
.column{ float: left; }
.column.one-third{ width: 33.333333%; }


.content{
	max-width: 1200px;
	min-width: 800px;
	margin: 0 auto;
}

//MAIN NAVIGATION MENU:
#navbar{
	height: 60px;
	
	margin-bottom: 15px;
	background: #5c6063;
	padding-right: 20px;
	padding-left: 20px;
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.3)));
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
	background-image: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
	background-image: linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4d000000',GradientType=0 );

	.nav-wrapper{
		display: inline-block;
		padding: 5px;
		background: rgba(0,0,0,0.1);
		position: relative;
		margin-top: 10px;
		-webkit-box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.4), 0px 1px 1px 0px rgba(255,255,255,.1);
		-moz-box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.4), 0px 1px 1px 0px rgba(255,255,255,.1);
		box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.4), 0px 1px 1px 0px rgba(255,255,255,.1);
		-webkit-transition: all .2s ease;
		-moz-transition: all .2s ease;
		-ms-transition: all .2s ease;
		-o-transition: all .2s ease;
		transition: all .2s ease;
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		border-radius: 100px;
		.nav{
			padding: 0;
			height: 30px;
			margin: 0;
			list-style: none;
			overflow: hidden;
			-webkit-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,.2), 0px 1px 2px 0px rgba(0,0,0,0.5);
			-moz-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,.2), 0px 1px 2px 0px rgba(0,0,0,0.5);
			box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,.2), 0px 1px 2px 0px rgba(0,0,0,0.5);
			background: #5c6063;
			background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
			background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.3)));
			background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
			background-image: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
			background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
			background-image: linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4d000000',GradientType=0 );
			-webkit-border-radius: 100px;
			-moz-border-radius: 100px;
			border-radius: 100px;
			li{ 
				background: rgba(255,255,255,0.0);
				float: left;
				text-align: center;
				border-right: 1px solid #666;
				border-left: 1px solid #444;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				-webkit-transition: all .2s ease;
				-moz-transition: all .2s ease;
				-ms-transition: all .2s ease;
				-o-transition: all .2s ease;
				transition: all .2s ease;
				&:hover{ background: rgba(255,255,255,0.08); }
				&.active{ background: rgba(255, 255, 255, 0.2); }
				a{ 
					text-decoration: none;
					font: 11px/30px Arial, sans-serif;
					color: #ddd;
					text-transform: uppercase;
					text-shadow: 0px 1px rgba(0,0,0,0.5);
					padding: 5px;
				}
			}
		}
	}
	.simple-nav{
		height: 50px;
		li{ 
			line-height: 50px;
			display: inline-block;
			&.divider{
				width: 1px;
				height: 13px;
				border-right: 1px solid #666666;
				border-left: 1px solid #444444;
				vertical-align: middle;
			}
			a{
				text-decoration: none;
				font: 11px/41px Arial, sans-serif;
				color: #ddd;
				text-transform: uppercase;
				&:hover{ text-decoration: underline; }
			}
		}
	}
}




#sides-padding{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
	min-width: 800px;
	margin: 0 auto;
	#content-wrapper{
		padding-left: 140px;

		//MAIN CONTENT
		#main-content{
			float: left;
			//min-width: 600px;
			width: 100%;
			position:relative;
			z-index: 2;
			#content-pretty{
				box-shadow: 0 0 10px rgb(150, 150, 150);
				-moz-border-radius: 15px;
				-webkit-border-radius: 15px;
				-khtml-border-radius: 15px;
				border-radius: 15px;
				padding: 10px;
				border: 4px solid #b1b1b1;
				margin-bottom: 30px;
				background-color: #fff;
			}
		}

		//LEFT NAVBAR
		#left-nav{
			width: 140px;
			float: left;
			padding-top: 10px;
			margin-left: -100%;
			position: relative;
			right: 140px;
			z-index: 1;
			ul{
				list-style: none;
				margin: 0;
				padding: 0;
				font-size: 13px;
				li{
					line-height: 38px;
					&.active{
						background-color: #ffffff;
						border-top: 4px solid #bbb;
						border-bottom: 4px solid #bbb;
						border-left: 4px solid #bbb;
						line-height: 30px;
						border-top-left-radius: 10px;
						border-bottom-left-radius: 10px;
						a{ padding-left: 16px;}
					}
					a{
						padding-left: 20px;
						display: block;
						color: #555;
						text-decoration: none;
						border-top-left-radius: 5px;
						border-bottom-left-radius: 5px;
						&:hover{ background-color: rgb(224, 224, 224); }
	}}}}}}

.page-header{
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
	padding: 10px;
	background-color: rgb(211, 211, 211);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ADADAD;
	h1,h2,h3,h4{ color: rgb(100, 100, 100);	}
	h1{ font-size: 23px; }
	a.light{ color: rgb(165, 165, 165); }
}

form.form{
	label{
		width: 600px;
		display: inline-block;
		clear: right;
		input, textarea, select{
			outline: none;
			float: right;
			width: 400px;
			font-size: 16px;
			border: 1px solid #cccccc;
			padding: 3px;
		}
	}
	.uneditable{
		float: right;
		width: 400px;
		font-size: 16px;
		line-height: 27px;
		color: rgb(150, 150, 150);
	}
	h3{
		border-bottom: 1px solid #ccc;
		margin-bottom: 15px;
		width: 600px;
	}
}

.btn{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #0f0f0f;
	padding: 6px;
	text-decoration: none;
	background: -moz-linear-gradient(
		top,
		#f2f2f2 0%,
		rgb(197, 197, 197));
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#f2f2f2),
		to(rgb(197, 197, 197)));
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #808080;
	display: inline-block;
	&:hover{ border: 1px solid #4B4B4B; }
	&.small{ padding: 3px; }
}

.authentication{
	margin-bottom: 15px;
	span{ width: 100px; display: inline-block; }
	.big_btn{
		font-size: 14px;
		color: #0f0f0f;
		padding: 14px;
		text-decoration: none;
		background: rgb(230, 230, 230);
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 6px;
		border: 3px solid rgb(192, 192, 192);
		display: inline-block;
		width: 220px;
		padding-left: 40px;
		&:hover{ border: 3px solid rgb(122, 122, 122); }
	}
	a[class$="-auth-btn"]{
		background-position: 5px 6px;
	}
	.tw-auth-btn{ background-image: url('/images/icons/twitter.png'); background-repeat: no-repeat; }
	.fb-auth-btn{ background-image: url('/images/icons/facebook.png'); background-repeat: no-repeat; }
}
//SURVEYS LIST PAGE
#surveys_list{
	.survey{
		padding: 7px;
		border-bottom: none;
		margin-bottom: 10px;
		.survey-header{
			padding-right: 160px;
			position: relative;
			margin-bottom: 15px;
			a{ 
				color: #333; 
				&:hover{ text-decoration: none; }
			}
			.survey-date{
				position: absolute;
				top: 2px;
				right: 10px;
				font-size: 11px;
				color: #bbb;
			}
		}
		.survey-desc{
			margin-bottom: 10px;
			padding-left: 20px;
			color: #555;
		}
		&:not(:last-child){
			border-bottom: 1px solid #ccc;
		}
	}
}



@media (max-width: 767px) {
	#build_list{
		.pull-right{ float: none; }
	}
}