.btn:focus{ outline: none; }
#build_list{
	padding: 7px;
	border-radius: 15px;
	border: 4px solid #DDDDDD;
	margin-bottom: 30px;
	#no-items-area, #zero-item{ display: none; }
	#work-area-texting{ text-align: center;color: #BBB;border: 3px dashed #CCC;}
	.sortable_item{
		margin-bottom: 22px;
	}
	.insert_buttons{ 
		display: none; 
		margin-bottom: 16px; 
	}
}

#newItemBar{ position: fixed; border-top: 1px solid #aaa; }
#item_type_buttons{ 
	text-align: center;
	button{ margin-top: 5px; }
}

$blue-color: #CFCFCF;

.navbar-inner .btn-group{
	padding: 0 10px;
}


@media (max-width: 767px) {
	#build_list{
		.pull-right{ float: none; }
	}
}