.dashboard-box{
	border-radius: 7px;
	border: 3px solid #fff;
	padding: 13px 19px;
	text-shadow: 2px 2px #6C8169;
	&.big{ 
		height: 150px; margin-top: 0; background-color: #59AD6D; color: white;
		h1{ font-size: 83px; margin: 0; }
		h2{ font-size: 27px; }
	}
	&.medium{ 
		height: 120px; margin-top: 30px; background-color: #59AD6D; color: white;
		h1{ font-size: 54px; margin: 0; }
		h2{ font-size: 27px; }
	}
	&.small{ 
		height: 100px; margin-top: 50px; background-color: #59AD6D; color: white;
		h1{ font-size: 34px; margin: 0; }
		h2{ font-size: 27px; }
	}
}

.events-block{
	border-radius: 7px;
	border: 3px solid #fff;
	padding: 5px 9px;
	background-color: #F1F1F1;
	h1{ font-size: 20px; }
}

@media only screen and (max-width: 767px) {
  .dashboard-box{ margin-top: 5px !important; }
}
