#circleG{
	width:149.33333333333334px;
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 170px;
	height: 32px;
	margin-left: -85px;
	margin-top: -16px;
}

.circleG{
background-color:#000000;
float:left;
height:32px;
margin-left:17px;
width:32px;
-webkit-animation-name:bounce_circleG;
-webkit-border-radius:21px;
-webkit-animation-duration:0.8999999999999999s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-moz-animation-name:bounce_circleG;
-moz-border-radius:21px;
-moz-animation-duration:0.8999999999999999s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
opacity:0.3;
-o-animation-name:bounce_circleG;
border-radius:21px;
-o-animation-duration:0.8999999999999999s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-ms-animation-name:bounce_circleG;
-ms-animation-duration:0.8999999999999999s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
opacity:0.3}

#circleG_1{
	-webkit-animation-delay:0.18s;
	-moz-animation-delay:0.18s;
	-o-animation-delay:0.18s;
	-ms-animation-delay:0.18s;
}

#circleG_2{
	-webkit-animation-delay:0.42s;
	-moz-animation-delay:0.42s;
	-o-animation-delay:0.42s;
	-ms-animation-delay:0.42s;
}

#circleG_3{
	-webkit-animation-delay:0.54s;
	-moz-animation-delay:0.54s;
	-o-animation-delay:0.54s;
	-ms-animation-delay:0.54s;
}

@-webkit-keyframes bounce_circleG{
0%{
opacity:0.3}

50%{
opacity:1;
background-color:#FFFFFF}

100%{
opacity:0.3}

}

@-moz-keyframes bounce_circleG{
0%{
opacity:0.3}

50%{
opacity:1;
background-color:#FFFFFF}

100%{
opacity:0.3}

}

@-o-keyframes bounce_circleG{
0%{
opacity:0.3}

50%{
opacity:1;
background-color:#FFFFFF}

100%{
opacity:0.3}

}

@-ms-keyframes bounce_circleG{
0%{
opacity:0.3}

50%{
opacity:1;
background-color:#FFFFFF}

100%{
opacity:0.3}

}