.survey_items_page_break{
	.page_border{
		display: inline-block;
		border-bottom: 3px dashed #ccc;
		height: 15px;
	}
	.page_break_texting{ text-align: center; }
}

.sortable_item{
	.content-row{
		margin: 0; 
		padding-bottom: 5px; 
		border: 1px dashed #CCC;
		.item_header{
			margin-bottom: 8px;
			background-color: #F2F2FD;
			background-image: -moz-linear-gradient(bottom, #E0E0EB 0%, #F2F2FD 100%);
			background-image: -o-linear-gradient(bottom, #E0E0EB 0%, #F2F2FD 100%);
			background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #00A3EF));
			background-image: -webkit-linear-gradient(bottom, #E0E0EB 0%, #F2F2FD 100%);
			background-image: linear-gradient(to top, #E0E0EB 0%, #F2F2FD 100%);
			h6{ margin-left: 10px; margin-top: 5px; }
		}
		> div{
			margin-left: 0;
			margin-right: 0;
		}
		textarea{ min-height: 50px; }
	}
	.desc_text_content{ font-size: 14px; }
	.scale_container {
		table{ 
			width: 100%;
			td{ text-align: center; }	
		}
	}
}
