@mixin rich_text_content {
	blockquote {
		font-style: italic;
		font-family: Georgia, Times, "Times New Roman", serif;
		padding: 2px 0;
		border-style: solid;
		border-color: #ccc;
		border-width: 0;
		padding-left: 20px;
		padding-right: 8px;
		border-left-width: 5px;
	}
	a{color: #0782C1 }
	ol{ list-style-type: decimal; }
	ol,ul,dl{
		/* IE7: reset rtl list margin. (#7334) */
		*margin-right: 0px;
		/* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
		padding: 0 40px;
		li{ line-height: 20px; }
	}

	h1,h2,h3,h4,h5,h6 { font-weight: normal; line-height: 1.2em; }

	hr{ border: 0px; border-top: 1px solid #ccc;}
	img.right { border: 1px solid #ccc; float: right; margin-left: 15px; padding: 5px;	}
	img.left { border: 1px solid #ccc; float: left; margin-right: 15px; padding: 5px; }
	img:hover { opacity: .9; filter: alpha(opacity = 90); }
	pre { white-space: pre-wrap; word-wrap: break-word; }
	p{ margin: 1em 0; }
	table{ 
		border: 1px solid black; 
		td{ border: 1px solid black; padding: 2px; }
	}
}

#new_survey_item textarea{ resize: vertical; }
.btn:focus{ outline: none; }
#build_list{
	padding: 7px;
	margin-bottom: 30px;
	background-color: #fff;
	counter-reset:section;
	#no-items-area{
        display: none;
        img{
        	position: absolute;
			bottom: 10px;
			left: 10px;
        }
        #work-area-texting{
            color: #929292;
            text-align: center;
            border: 3px dashed #CCC;
            padding: 25px;
            position: relative;
			height: 130px;
        }
	}
	.countable{
		
		&::before{
			counter-increment:section; 
			content:"# " counter(section) ". "; 
			position: absolute; 
			left: 5px;
			top: 9px;
			color: #777;
			z-index: 5;
		}
	}
	.survey_item{
		position: relative;
		.item_tools{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			background-color: #ebebeb;
			padding: 5px 5px 5px 50px;
			border: 1px solid #bebebe;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			button.deleteLnk{ color: #ff0000; }
		}
		.item-inner{
			border: 1px solid rgb(190, 190, 190);
			padding: 50px 10px 10px 10px;
			margin-bottom: 10px;
			box-shadow: 0 0 6px rgb(175, 175, 175);
			border-radius: 4px;
			background-color: rgb(247, 247, 247);

			.item-content{ margin-right: 100px; }
			input[type="text"], select, textarea{
				outline: none;
				border: 1px solid #ccc;
				padding: 3px;
				width: 85%;
				font-size: 16px;
				&:focus{
					border: 1px solid #888;
				}
			}
			ul, textare, input, p, select{ color: rgb(70, 70, 70); }
			ul.unstyled, select, input[type="text"], textarea{ margin-top: 10px; }
			.grid-table{ //table
				font-size: 13px;
				width: 100%;
				margin: 10px auto;
				tr{ line-height: 20px; }
				td{ 
					border-bottom: 1px dotted #ccc;
					text-align: center;
					&:not([class="grid-row-title"]){ 
						width: 15%;
						&:nth-child(even){ background-color: #ECECEC }
					}
				}
				.grid-row-title{  text-align: left; }

			}
		}
	}
	.survey_items_desc_text{
		@include rich_text_content;
	}
	.insert-button-wrapper{
		text-align: center;
	}
	.insert_buttons{ 
		display: inline-block; 
		margin-bottom: 10px;
		font-size: 12px;
		width: 70%;
		visibility: hidden;
		padding: 1px;
		font-weight: bolder;
	}
}
#newItem, #editItemContainer{
	form{ 
		margin-bottom: 0;
		input[type="text"], select, textarea{
			outline: none;
			border: 1px solid #ccc;
			padding: 3px;
			width: 100%;
			font-size: 14px;
			margin-top: 5px;
			margin-bottom: 5px;
			&:focus{
				border: 1px solid #888;
			}
		}
		textarea.tall{height: 6em;}
		label.checkbox{ display: block; }
	}
}

#item_type_buttons{ 
	text-align: center;
	button{ margin-top: 5px; }
}


#trashed-items-list{
	overflow-y: scroll;
	height: 200px;
	border: 1px solid #999;
	.trashed-item{
		position: relative;
		padding: 7px;
		border-bottom: 1px solid #ccc;
		&:nth-child(odd) { background-color: #E9E9E9 }
		&:nth-child(even) { background-color: #F3F3F3 }
		.restoreLnk{
			position: absolute;
			top: 5px;
			right: 35px;
			font-size: 16px;
			color: #bbb;
			&:hover{ color: #00C900; }
		}
		.deleteLnk{
			position: absolute;
			top: 5px;
			right: 5px;
			color: #bbb;
			&:hover{ color: red; }
		}
		.trashed-item-header{
			color: #AA2727;
			font-size: 13px;
			padding-right: 50px;
		}
		.trashed-item-content{
			padding-left: 24px;
			margin-top: 6px;
			font-size: 12px;
			color: #666;

			@include rich_text_content;
		}
	}
}