#new_survey_item textarea{ resize: vertical; }
.btn:focus{ outline: none; }
#build_list{
	padding: 7px;
	margin-bottom: 30px;
	background-color: #fff;
	counter-reset:section;
	#no-items-area{
        display: none;
        #work-area-texting{
            color: #929292;
            text-align: center;
            border: 3px dashed #CCC;
            padding: 25px;
        }
	}
	.countable{
		
		&::before{
			counter-increment:section; 
			content:"# " counter(section) ". "; 
			position: absolute; 
			left: 5px;
			top: 10px;
			color: #777;
		}
	}
	.survey_item{
		position: relative;
		.manage_links{
			position: absolute;
			right: 10px;
			top: 7px;
			a{
				color: #bbb;
				display: inline-block;
				&:hover{ color: #000; }
				&.deleteLnk:hover{ color: #ff0000; }
			}
		}
		.item-inner{
			border: 1px solid rgb(190, 190, 190);
			padding: 10px;
			margin-bottom: 10px;
			padding-left: 40px;
			box-shadow: 0 0 6px rgb(175, 175, 175);
			border-radius: 4px;
			background-color: rgb(247, 247, 247);
			&:hover{ 
				box-shadow: 0 0 10px rgb(148, 148, 148);
			}
			.item-content{ margin-right: 100px; }
			input[type="text"], select, textarea{
				outline: none;
				border: 1px solid #ccc;
				padding: 3px;
				width: 85%;
				font-size: 16px;
				&:focus{
					border: 1px solid #888;
				}
			}
			ul, textare, input, p, select{ color: rgb(70, 70, 70); }
			ul.unstyled, select, input[type="text"], textarea{ margin-top: 10px; }

			ol{ list-style-type: decimal; }
		}
	}
	.survey_items_desc_text{
		blockquote {
			font-style: italic;
			font-family: Georgia, Times, "Times New Roman", serif;
			padding: 2px 0;
			border-style: solid;
			border-color: #ccc;
			border-width: 0;
			padding-left: 20px;
			padding-right: 8px;
			border-left-width: 5px;
		}
		a{color: #0782C1 }

		ol,ul,dl{
			/* IE7: reset rtl list margin. (#7334) */
			*margin-right: 0px;
			/* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
			padding: 0 40px;
			li{ line-height: 20px; }
		}

		h1,h2,h3,h4,h5,h6 { font-weight: normal; line-height: 1.2em; }

		hr{ border: 0px; border-top: 1px solid #ccc;}
		img.right { border: 1px solid #ccc; float: right; margin-left: 15px; padding: 5px;	}
		img.left { border: 1px solid #ccc; float: left; margin-right: 15px; padding: 5px; }
		img:hover { opacity: .9; filter: alpha(opacity = 90); }
		pre { white-space: pre-wrap; word-wrap: break-word; }
		p{ margin: 1em 0; }
		table{ 
			border: 1px solid black; 
			td{ border: 1px solid black; padding: 2px; }
		}
	}
	.insert-button-wrapper{
		text-align: center;
	}
	.insert_buttons{ 
		display: inline-block; 
		margin-bottom: 10px;
		font-size: 12px;
		width: 70%;
		visibility: hidden;
		padding: 1px;
		font-weight: bolder;
	}
}
#newItem, #editItemContainer{
	form{ 
		margin-bottom: 0;
		input[type="text"], select, textarea{
			outline: none;
			border: 1px solid #ccc;
			padding: 3px;
			width: 100%;
			font-size: 14px;
			margin-top: 5px;
			margin-bottom: 5px;
			&:focus{
				border: 1px solid #888;
			}
		}
		textarea.tall{height: 6em;}
		label.checkbox{ display: block; }
	}
}

#item_type_buttons{ 
	text-align: center;
	button{ margin-top: 5px; }
}