.tinyEditorWrapper{
	padding-right: 40px;
	position: relative;
      display: inline-block;
      height: 60px;
      padding-left: 15px;
	.tinyEditorButton{
            float: left;
      	margin-top: 16px;
margin-left: 10px;
      	cursor: pointer;
	}
      form{
            position: relative;
            .tinyEditorInputField{
                border: 1px solid #cccccc;
                color: rgba(0, 0, 0, 0.75);
                display: block;
                font-size: 37px;
                padding: 2px 6px;
                width: 100%;
                background-color: #FCFCFC;
                position: absolute;
                z-index: 9999;
                top: -3px;
                left: -7px;
            }
      }
}