
<%= form_for @survey_item, url: '#', id: 'desc_text_item_form' do |f| %>
    <div class="field">
		<%= f.text_area :text_content, name: 'survey_item[text_content]', rows: 2, id: 'rich-text-area',
			class: 'validate[required]', placeholder: t('survey_items.common.title_placeholder') %>
	</div>

    <%= hidden_field_tag :item_id, @survey_item.try(:id) %>
	<input type="hidden" name="item_type" value="desc_text">
	<%= f.submit t('survey_items.common.save'), class: 'btn small simple success' %>
<% end%>
