<div id="desc_text_item" class="row">
  <div class="sixteen columns">
    <label>Place here some text:</label>
    <textarea name="text_content" class="min120height vertical-resize" placeholder="Description text" ></textarea>
  </div>
  <input type="hidden" name="item_type" value="desc_text">
</div>
