<div id="desc_text_item" class="row">
  <div class="sixteen columns">
    <label>Place here some text:</label>
    <textarea class="min80height vertical-resize" placeholder="Description text" ></textarea>
  </div>
</div>
