<%= form_for SurveyItem.new, url: '#', id: 'image_item_form' do |f| %>
    <label>Get image from Url</label>
    <input type="text" placeholder="URL for the image"/>

    <label>Upload image</label>
    <input type="file" ></input>
	
	<%= hidden_field_tag :item_id, @survey_item.try(:id) %>
	<input type="hidden" name="item_type" value="image">
<% end %>