<div id="image_item" class="row">
  <div class="sixteen columns">
    <label>Get image from Url</label>
    <input type="text" placeholder="URL for the image"/>
  </div>
  <div class="sixteen columns">
    <label>Upload image</label>
    <input type="file" ></input>
  </div>  
</div>
