<div id="image_item">
  <div class="sixteen columns">
    <label>Get image from Url</label>
    <input type="text" placeholder="URL for the image"/>
  </div>
  <div class="sixteen columns">
    <label>Upload image</label>
    <input type="file" ></input>
  </div>
  <input type="hidden" name="item_type" value="image">
</div>
