<%= form_for @survey_item || SurveyItems::MultipleSelectQuestion.new, url: '#', id: 'multiple_select_question_form' do |f| %>
	<label>Question title:</label>
	<%= f.text_area :title, name: 'title', rows: 2,  
		class: 'full-width', placeholder: "Place question description here" %>

    <label>Varaints goes here</label>
    <%= f.text_area :variants, name: 'variants', rows: 3,  
		class: 'full-width', placeholder: "One variant per line" %>

	<input type="hidden" name="item_type" value="multiple_select_question">
<% end %>