  <div class="sixteen columns">
		<label>Question title:</label>
    <textarea name="title" class="vertical-resize" placeholder="Place question description here" id="new_survey_item_title"></textarea>
	</div>
  <div class="sixteen columns">
    <label>Varaints goes here</label>
    <textarea name="variants" class="min120height vertical-resize" placeholder="One variant per line"></textarea>
  </div>
  <input type="hidden" name="item_type" value="multiple_select_question">