<div id="open_question" class="row">
	<div class="sixteen columns">
		<label class="top-span">Question title:</label>
    <textarea name="title" class="min80height vertical-resize" placeholder="Place question description here" id="new_survey_item_title"></textarea>
	</div>

  <div class="sixteen columns">
    <label>Placeholder text</label>
    <input name="title_placeholder" type="text" placeholder="Placeholder text for question input field"/>
  </div>

</div>
