<div class="row">
  <div class="sixteen columns">
    <label>Page header</label>
    <input type="text" placeholder="Page heading text"/>
  </div>
  <div class="sixteen columns">
    <label>Page description</label>
    <textarea class="min80height vertical-resize" placeholder="Short page description text" ></textarea>
  </div>
  
  <div class="sixteen columns">
  	<div class="panel">
        <p><span class="secondary label">NOTE:</span> header and description will be applied to the page above this break.</p>
			</div>
  </div>
  
</div>
