<div class="row">
  <div class="sixteen columns">
		<label class="top-span">Question title:</label>
    <textarea name="title" class="min80height vertical-resize" placeholder="Place question description here" id="new_survey_item_title"></textarea>
	</div>
  <div class="sixteen columns">
    <label>Start value:</label>
    <input class="" placeholder="One variant per line"></input>
  </div>
  
  <div class="sixteen columns">
    <label>End value:</label>
    <input class="" placeholder="One variant per line"></input>
  </div>
</div>
