<div class="sixteen columns">
	<label>Question title:</label>
	<textarea name="title" class="vertical-resize" placeholder="Place question description here" id="new_survey_item_title"></textarea>
</div>
<div class="sixteen columns">
	<label>Scale size:</label>
    <input type="radio" name="scale_size" value="3" checked>3 options</input>
    <input type="radio" name="scale_size" value="5">5 options</input>
    <input type="radio" name="scale_size" value="10" checked>10 options</input>
</div>
<input type="hidden" name="item_type" value="scale_question">