<div class="row">
  <div class="sixteen columns">
		<label class="top-span">Question title:</label>
    <textarea name="title" class="vertical-resize" placeholder="Place question description here" id="new_survey_item_title"></textarea>
	</div>
  <div class="sixteen columns">
    <label>Varaints goes here</label>
    <textarea name="variants" class="min120height vertical-resize" placeholder="One variant per line"></textarea>
  </div>
  <div class="sixteen columns vspace">
    <label for="radio1">
      <input type="checkbox" name="include_txt_field" value="1"></input>
      <span class="custom radio"></span> Include optional text field
    </label>
	</div>

</div>
