<div class="row">
  <div class="sixteen columns">
		<label class="top-span">Question title:</label>
    <textarea name="title" class="min80height vertical-resize" placeholder="Place question description here" id="new_survey_item_title"></textarea>
	</div>
  <div class="sixteen columns">
    <label>Varaints goes here</label>
    <textarea name="variants" class="min120height vertical-resize" placeholder="One variant per line"></textarea>
  </div>
</div>
