<%= form_for @survey_item || SurveyItems::SingleSelectQuestion.new, url: '#', id: 'single_select_question_form' do |f| %>
	<label>Question title:</label>
	<%= f.text_area :title, name: 'title', rows: 2,  
		class: 'full-width', placeholder: "Place question description here" %>
	
	<label>Varaints goes here</label>
	<%= f.text_area :variants, name: 'variants', rows: 3,  
		class: 'full-width', placeholder: "Place question description here" %>

	<label class="checkbox">
      <%= f.check_box :include_txt_field, name: 'include_txt_field' %>
      Include optional text field
    </label>
  
	<input type="hidden" name="item_type" value="single_select_question">
<% end %>