<%= form_for @survey_item || SurveyItems::TextFieldQuestion.new, url: '#', html:{ id: 'text_field_question_form'} do |f| %>
	<label>Question title:</label>
	<%= f.text_area :title, name: 'title', rows: 2,  
		class: 'full-width', placeholder: "Place question description here" %>

	<label class="">Appearance:</label>
	<label class="radio inline">
		<%= f.radio_button :appearance,'txt_field', name: 'appearance' %> Text field
	</label>
	<label class="radio inline">
		<%= f.radio_button :appearance,'txt_area', name: 'appearance' %> Text area
	</label>

	<input type="hidden" name="item_type" value="text_field_question">
<% end %>