	<label>Question title:</label>
  <textarea name="title" class="vertical-resize" placeholder="Place question description here" id="new_survey_item_title"></textarea>


<div class="sixteen columns">
	<label class="top-span">Appearance:</label>
  <input type="radio" name="appearance" value="txt_field" checked>Text field</input>
  <input type="radio" name="appearance" value="txt_area">Text area</input>
</div>
<input type="hidden" name="item_type" value="text_field_question">