  <div id="item_type_buttons">
    <button href="#" class="btn btn-large" data-item-type="text_field_question">
      <i class="icon-text-height"></i> Text field</button>
    <button href="#" class="btn btn-large" data-item-type="multiple_select_question">
      <i class="icon-check"></i> Multiple select</button>
    <button href="#" class="btn btn-large" data-item-type="single_select_question">
      <i class="icon-list-bullet"></i> Single select</button>
    <button href="#" class="btn btn-large" data-item-type="drop_down_question">
      <i class="icon-down-open"></i> Drop down</button>
    <button href="#" class="btn btn-large" data-item-type="scale_question">
      <i class="icon-resize-full"></i> Scale question</button>
    <button href="#" class="btn btn-large" data-item-type="desc_text">
      <i class="icon-font"></i> Rich text box</button>
    <button href="#" class="btn btn-large" data-item-type="page_break">
      <i class="icon-doc-alt"></i> Page separator</button>
    <button href="#" class="btn btn-large" data-item-type="video_question">
      <i class="icon-doc-alt"></i> Video item</button>
    <button href="#" class="btn btn-large" data-item-type="single_select_grid">
      <i class="icon-doc-alt"></i> Single select grid</button>
    
  </div>
