.panel.panel-primary.report-item
  .panel-heading.report-item-header
    %h3.panel-title= item.title

  .panel-body
    = render "/survey_items/report_items/#{item.type.demodulize.underscore}", item: item, counter: index + 1