<%= content_tag_for :li, item, class: "result-item", item_id: item.id do -%>
  <div class="well well-small">

    <%= render "/survey_items/result_items/#{item.type.demodulize.underscore}", item: item, result: result, counter: index + 1 %>
  </div>
<%- end -%>
